@media screen and (max-width: 730px) {

    .header-bar,
    #hamburger-icon {
        font-size: 0.8em;
    }

    .header-bar h1 {
        font-size: 1.5em;
        width: 10em;
    }

    .intro p {
        font-size: 1.5em;
    }

    .resp-dsgn img {
        width: 25em;
    }

    .clipboard span {
        display: block;
        margin: 0.5em auto;
        width: 12em;
    }

    .clipboard .success::after {
        transform: translateY(-3.5em);
    }

    .alt-cnt-wrp {
        flex-wrap: wrap;
    }

    .alt-cnt-wrp>p {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .alt-cnt {
        margin-left: 2em;
    }

}


@media screen and (max-width: 400px) {

    .intro p {
        font-size: 1.2em;
    }

    .sctn-logo {
        font-size: 0.75em;
    }

    section::before {
        font-size: 0.75em;
    }

    .footer {
        font-size: 0.8em;
    }

}


/* For landscape orientation */
@media screen and (max-height: 450px) {

    .intro {
        top: 0;
    }

    .intro p {
        font-size: 1.2em !important;
    }

    .arrow {
        bottom: 5em;
        height: 2em;
        left: calc(50% - 2.5em);
        width: 5em;


    }

}


/*****************
*   MENU STYLE   *
******************/

@media screen and (min-width: 1200px) {

    #hamburger-icon {
        right: 2%;
    }

    #menu {
        left: auto;
        padding-right: 50px;
        right: -250px;
        top: 0;
        transition: all 0.75s cubic-bezier(0.6, -0.5, 0.4, 1.5);
        width: 250px;
    }

    .sidebar {
        right: -50px !important;
    }

    .nav-item {
        background: none;
        border: none !important;
        display: block;
        font-size: 1.7em;
        height: auto;
        margin: 0 0 1em 50px;
        padding: 0 50px 0 0.5em;
        transition: all 0.25s linear;
        width: 200px;
    }

    .nav-item:hover {
        color: white;
        text-shadow: white 0 0 0.5em;
    }

}
